<div class="navbar-container">
  <div class="logo-container">
    <div [routerLink]="link" routerLinkActive="router-link-active">
      <img [src]="icon" alt="{{ icon }}" />
    </div>
    <span
      [routerLink]="link"
      class="application-name"
      routerLinkActive="router-link-active"
      >GAIA</span
    >
  </div>
  <div class="current-page" *ngIf="currentPageName !== 'DASHBOARD'">
    <span>{{ currentPageName }}</span>
  </div>
  <div class="user-area">
    @if(!isLogged) {
    <button mat-raised-button color="primary" (click)="openLogin()">
      {{ 'LOG_IN' | translate }}
    </button>
    } @else {
    <button mat-icon-button (click)="openUserMenu()">
      <mat-icon fontIcon="home"></mat-icon>
    </button>
    }
  </div>
</div>
