<div class="navbar-container">
  <div class="logo-container">
    <div [routerLink]="link" routerLinkActive="router-link-active">
      <img [src]="icon" alt="{{ icon }}" />
    </div>
    <span [routerLink]="link" class="application-name" routerLinkActive="router-link-active">GAIA</span>
  </div>
  <div class="current-page" *ngIf="currentPageName !== 'DASHBOARD'">
    <span>{{ currentPageName }}</span>
  </div>
  <div class="user-area">
    <button (click)="openLogin()">{{ buttonText | translate }}</button>
  </div>
</div>
