mat-form-field {
  margin-bottom: 10px;
}

mat-hint,
mat-error {
  font-size: 80%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  min-height: 250px;
  padding: 15px 25px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
  }
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: -webkit-fill-available;
  gap: 24px;
}
