<div class="button-row">
  <button
    mat-fab
    color="primary"
    aria-label="Example icon button with a delete icon"
  >
    <fa-icon [icon]="ICONS.ADD"></fa-icon>
  </button>
</div>

<table>
  <tr>
    @for(header of tableHeaders; track header) {
    <th (click)="onHeaderClick(header)">{{ header | translate }}</th>
    }
  </tr>
  <tr>
    @for (user of users; track $index) {
    <td>{{ user.username }}</td>
    <td>{{ user.fullname }}</td>
    <td>{{ user.birthdate }}</td>
    <td>{{ user.height }} cm.</td>
    }
  </tr>
</table>
