mat-form-field {
  width: 100%;
}

.login-container {
  height: 200px;
  width: 375px;
  padding: 35px;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
