<div class="login-container">
  <form [formGroup]="loginForm">
    <mat-form-field>
      <mat-label>{{ 'USERNAME' | translate }}</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'PASSWORD' | translate }}</mat-label>
      <input matInput formControlName="password" />
    </mat-form-field>
  </form>
  <div class="button-row">
    <button mat-raised-button color="primary" (click)="login()">{{ 'LOG_IN' | translate }}</button>
  </div>
</div>
