<div class="menu-container">
  <div class="first-section">
    @for(item of menu; track item.code; let isLast = $last) {
      @if(item.code !== 'DASHBOARD' && !isLast) {
        <app-menu-item
          [item]="item"
          [isActive]="current === item.route"
          (onItemChange)="onItemChange(item)"
        >
        </app-menu-item>
      }
    }
  </div>

  <div class="last-item">
    <app-menu-item
      [item]="lastItem"
      [isActive]="current === lastItem.route"
      (onItemChange)="onItemChange(lastItem)">
    </app-menu-item>
  </div>
</div>
