@import '../assets/styles/variables.scss';

.container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 107px);
}

.inner-container {
  max-height: calc(100vh - 107px);
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
  padding-right: 20px;
}

app-navbar {
  height: 75px;
  display: flex;
}

app-menu {
  width: $menu-width-wide;
  padding-left: 25px;
  @media (max-width: $breakpoint-tablet) {
    width: $menu-width-collapsed;
    padding-left: 15px;
  }
}
