table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  tr {
    &:hover {
      font-weight: bold;
    }
  }

  th {
    height: 50px;
  }

  td {
    cursor: pointer;
  }

  th,
  td {
    padding-left: 15px;
  }

  tr:nth-child(even) {
    background-color: #303030;
  }
}

button {
  padding: 3px;
  border-width: 0px;
  border-radius: 100%;

  fa-icon {
    max-width: 15px;
    max-height: 15px;
  }

  &:hover {
    background-color: #303030;
    cursor: pointer;
  }
}

.button-row {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.add-button {
  width: 40px;
  height: 40px;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  * {
    font-size: 15px;
  }

  button {
    width: 30px;
    height: 30px;

    fa-icon {
      width: 20px;
      height: 20px;
    }
  }
}

.element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actions-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 52px;
}

app-users-form {
  height: 240px;
}
