// *** COLOURS *** //
$background-color: #13121c;
$card-background-color: rgba(34, 34, 51, 0.5);
$primary-font-color: white;
$secondary-font-color: #717a95;
$tertiary-font-color: #dedede;
$primary-color: #56ffff;
$secondary-color: #947fff;
$tertiary-color: #47b7ff;
$error-color: #FF5E37;

// *** BREAKDOWN POINTS ***//
$breakpoint-tablet: 758px;
$breakpoint-mobile: 375px;

// *** MENU WIDTH *** //
$menu-width-wide: 225px;
$menu-width-collapsed: 80px;



  //$src: url('./assets/fonts/sofiasanscondensed.woff2') format('woff2'), url('./assets/fonts/sofiasanscondensed.woff') format('woff'),
