// @use '@angular/material' as mat;

@import 'variables';

@font-face {
  font-family: SofiaSans;
  src: url('./assets/fonts/sofiasanscondensed.woff2') format('woff2'),
    url('./assets/fonts/sofiasanscondensed.woff') format('woff');
}

// @include mat.core();
// $gaia-primary: mat.define-palette($primary-color);
// $gaia-accent: mat.define-palette($secondary-color, A200, A100, A400);
// $gaia-error: mat.define-palette($error-color);
// $gaia-theme: mat.define-dark-theme(
//   (
//     color: (
//       primary: $gaia-primary,
//       accent: $gaia-accent,
//       error: $gaia-error
//     )
//   )
// );
// @include mat.all-component-themes($gaia-theme);

* {
  font-family: SofiaSans !important;
  font-size: 16px;
}

body {
  background-color: $background-color;
  color: $primary-font-color;
  font-family: SofiaSansCondensed;

  * > ::-webkit-scrollbar {
    width: 1px;
  }

  * > ::-webkit-scrollbar-track {
    box-shadow: $background-color;
  }

  * > ::-webkit-scrollbar-thumb {
    background-color: $secondary-font-color;
    outline: 1px solid $secondary-font-color;
    border-radius: 10px;
  }
}

button {
  font-size: 16px;
  background: transparent;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border-color: white;
  border-width: 1px;
  cursor: pointer;
}

.card {
  background-color: $card-background-color;
}

.central-panel {
  padding: 0px 25px 15px 0px;
  min-width: calc(100vw - 260px);
  @media (max-width: $breakpoint-tablet) {
    min-width: calc(100vw - 114px);
    margin-left: 12px;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
