<div class="button-row">
  <button
    matTooltip="{{ 'FORM.ADD' | translate }}"
    class="add-button"
    mat-fab
    color="primary"
    aria-label="Example icon button with a delete icon"
    (click)="add()"
  >
    <fa-icon [icon]="ICONS.ADD"></fa-icon>
  </button>
</div>

@if(sortedApplications.data.length > 0) {
<table
  mat-table
  [dataSource]="sortedApplications"
  matSort
  matSortActive="name"
  matSortDisableClear
  matSortDirection="asc"
  (matSortChange)="sort($event)"
>
  <ng-container matColumnDef="image">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ 'APPLICATION.ICON' | translate }}
    </th>
    <td mat-cell *matCellDef="let el"><img [src]="el.image" class="table-icon" /></td>
  </ng-container>

  <ng-container matColumnDef="code">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ 'APPLICATION.CODE' | translate }}
    </th>
    <td mat-cell *matCellDef="let el">{{ el.code }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ 'APPLICATION.NAME' | translate }}
    </th>
    <td mat-cell *matCellDef="let el">{{ el.name }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ 'APPLICATION.DESCRIPTION' | translate }}
    </th>
    <td mat-cell *matCellDef="let el">{{ el.description }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <div class="action-buttons">
        <button matTooltip="{{ 'FORM.EDIT' | translate }}" mat-fab (click)="edit(row)" color="secondary">
          <fa-icon [icon]="ICONS.EDIT"></fa-icon>
        </button>
        <button
          matTooltip="{{ 'FORM.DELETE' | translate }}"
          mat-fab
          (click)="delete(row)"
          color="secondary"
        >
          <fa-icon [icon]="ICONS.DELETE"></fa-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
}
